################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
/src/obj
/src/bin
/Test PLC/Tester/_CompileInfo
/Test PLC/Tester/_Libraries
/Test PLC/_Boot
*.tmc
*.~u
*.bak
/Test PLC/TrialLicense.tclrs
