################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj
**/bin
**/_CompileInfo
**/_Libraries
**/_Boot
*.tmc
*.~u
*.bak
*.tclrs
